* {
  background-color: transparent;
  text-align: center;
}

#image-height-limit {
  height: 200px;
  border: 2px solid goldenrod;
}

#image-detail-limit-1 {
  height: 300px;
  border: 2px solid goldenrod;
}

#image-detail-limit-2 {
  height: 200px;
  border: 2px solid goldenrod;
}
